
$font_black : #222;

@mixin content {
  div {
    margin : 10px;
    font-size : 95%;
  }
}

body {
  @include content;
  background-color : #EEE;
  color : $font_black;
}

.right {
  text-align : right;
}

a.feed {
  background-color : rgb(250,140,30);
  border : solid 2px rgb(220, 120,0);
  color : rgb(255,255,255);
  padding : 2px 4px 2px 4px;
  text-decoration : none;
}